# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Notebooks
.ipynb_checkpoints/*

# Scraper
googlemaps-scraper/
gm-scraper.log
logs/

# Data
data/review_data/
data/map_urls/
data/location_data
data/*

# Ignore virtual environment and related files
proj_env/
*.dylib
*.so
*.dll

# Ignore sensitive files
*.env
proj_env/lib/python3.9/*

# Ignore experimentation files
experimentation/
Step_1_locations_ratings_extraction.ipynb
Step_2_google_reviews_scraping.ipynb
Step_3_genai_sentiment_analysis.ipynb