# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Notebooks
.ipynb_checkpoints/*

# Scraper
googlemaps-scraper/*

# Data
data/review_data/
data/map_urls/
data/location_data
data/*

# Ignore virtual environment and related files
proj_env/
*.dylib
*.so
*.dll

# Ignore sensitive files
*.env
proj_env/lib/python3.9/*

# Experimentation Notebooks
experimentation/

# Logs
logs/